/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 
@import "bootstrap-sprockets";
@import "bootstrap";


div.sidebar-left { 
    padding: 30px;
    float: left;
    width: 30%;
    height: 100vh;
    background-color: #00cc66;
    box-sizing: border-box;
}

div.main-content {
    padding: 30px;
    width: 70%;
    height: 100vh;
    box-sizing: border-box;
}

.navbar {
    margin-bottom: 0;
}